@tailwind base;
@tailwind components;
@tailwind utilities;


  body {
    font-family: "Roboto", "Arial", sans-serif;
    color: #3c4043;
  }

.navbar-font {
    color: #3c4043;
    line-height: 20px;
    font-size: 14px;
    font-weight: 350;
}