<div class="bg-[#fafafc] rounded-[28px]">
    <div class="grid grid-cols-12 grid-rows-24">
        <div class="w-[30%] ml-32 content-center col-span-12 row-span-3 row-start-1 col-start-1">
            <h1 class="text-3xl font-bold mb-5" style="font-weight: 700;">Estamos preparando algo grande por nuestro 26 cumpleaños.</h1>
            <p class="text-lg">¡La cuenta atras ha comenzado! No te pierdas nuestras ofertas del 27 al 29 de septiembre y un regalo muy especial de nuestra parte en compras seleccionadas.</p>
        </div>
        <video autoplay loop muted class="col-span-12 col-start-7 w-[640px] h-[640px] row-span-3 row-start-1">
            <source src="https://storage.googleapis.com/mannequin/blobs/4e85eeb0-edfc-4bb9-98b6-75b971236e26.mp4" type="video/mp4">
        </video>
    </div>
    
</div>
<h1 class="mt-20 mb-10 text-5xl font-semibold flex justify-center text-[#3c4043]">Popular en Google Store</h1>
<div class="flex justify-center gap-6">
        <div class="w-fit mb-10">
            <div class="bg-[#F8F9FA] rounded-3xl">
                <div class="w-fit h-fit px-2 py-1 bg-[#e8f0fe] rounded-full relative left-[19px] top-[19px]">
                    <p class="text-[#062e6f] text-xs font-semibold">Nuevo</p>
                </div>
                <img src="https://lh3.googleusercontent.com/Pn6gWhoGgOWaR5vHJ0v0gN4Ag2s42wwHhFyKfvYCyaR3cavQ4sTSQknSnUhooc_aMbp_1JHFI_P8fpND3n4Jyu53aXLiFzR3GZo=rw-e365-w3000" alt="phone" class="w-[200px] h-[200px]">
            </div>
            <h2 class="font-semibold mt-4 mb-3">Pixel 9 Pro y Pro XL</h2>
            <p class="mb-6">Desde 1099 €</p>
            <a class="text-blue-500 font-semibold">Comprar ></a>
        </div>
        <div class="w-fit mb-10">
            <div class="bg-[#F8F9FA] rounded-3xl">
                <div class="w-fit h-fit px-2 py-1 bg-[#e8f0fe] rounded-full relative left-[19px] top-[19px]">
                    <p class="text-[#062e6f] text-xs font-semibold">Nuevo</p>
                </div>
                <img src="https://lh3.googleusercontent.com/qdVzknB7ZFrwcDS1ch2d8GbJLzQtcglQiLeBFfoptCWfUggG_WNVASwpdOp8CXJvsJgYmq4Hf6y1VPnxIhpgsU3bS_w1RdZgDg=rw-e365-w1200" alt="phone" class="w-[200px] h-[200px]">
            </div>
            <h2 class="font-semibold mt-4 mb-3">Pixel 9</h2>
            <p class="mb-6">Desde 899 €</p>
            <a class="text-blue-500 font-semibold">Comprar ></a>
        </div>
        <div class="w-fit mb-10">
            <div class="bg-[#F8F9FA] rounded-3xl">
                <div class="w-fit h-fit px-2 py-1 bg-[#e6f4ea] rounded-full relative left-[19px] top-[19px]">
                    <p class="text-[#0a3818] text-xs font-semibold">Oferta Especial</p>
                </div>
                <img src="https://lh3.googleusercontent.com/lr7n7GAwPgruwHmsM6zNwGs5DiOaj8udTXdP9A-GCEzeQdTtix1j_Wx41tXGHvGT-d4VgaAN_DmZWKniZTWRKmhSvlqtli5UePdY=rw-e365-w1200" alt="phone" class="w-[200px] h-[200px]">
            </div>
            <h2 class="font-semibold mt-4 mb-3">Pixel Watch 3</h2>
            <p class="mb-6">Desde 399 €</p>
            <a class="text-blue-500 font-semibold">Comprar ></a>
        </div> 
        <div class="w-fit mb-10">
            <div class="bg-[#F8F9FA] rounded-3xl">
                <div class="w-fit h-fit px-2 py-1 bg-[#e6f4ea] rounded-full relative left-[19px] top-[19px]">
                    <p class="text-[#0a3818] text-xs font-semibold">Oferta Especial</p>
                </div>
                <img src="https://lh3.googleusercontent.com/Q9qx3cQq7CqhFrEx_hFrXGpDOwexVFu2hsaN28lszpZ3l4thqlL6af5Spz4lm9fQpPGcw3AyqLafKtLhKPz8PmUuQlZ_vdigXNw=rw-e365-w1200" alt="phone" class="w-[200px] h-[200px]">
            </div>
            <h2 class="font-semibold mt-4 mb-3">Pixel Buds Pro 2</h2>
            <p class="mb-6">Desde 249 €</p>
            <a class="text-blue-500 font-semibold">Comprar ></a>
        </div> 
        <div class="w-fit mb-10">
            <div class="bg-[#F8F9FA] rounded-3xl">
                <div class="w-fit h-fit px-2 py-1 bg-[#e8f0fe] rounded-full relative left-[19px] top-[19px]">
                    <p class="text-[#062e6f] text-xs font-semibold">Nuevo</p>
                </div>
                <img src="https://lh3.googleusercontent.com/WBLZJkX28kCd05v5OHikm8DtDP-uR6bu0P09l69suQGEz5An2DNEj5veTRUQDZJiDVGOJmTNn-NCJMLaU1EUahENSfSTx4P9sxk=rw-e365-w1200" alt="phone" class="w-[200px] h-[200px]">
            </div>
            <h2 class="font-semibold mt-4 mb-3">Google TV Streamer (4k)</h2>
            <p class="mb-6">Desde 119 €</p>
            <a class="text-blue-500 font-semibold">Comprar ></a>
        </div> 
</div>